* {
    padding: 0;
    margin: 0;
    box-sizing:content-box;
}

body {
    background-color: black;
    color: white;
    max-height: 100vh;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    height: 400px;
    width: 100%;
    background-image: url(/images/signImage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.navBar .option ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.option ul #language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(138, 136, 136);
    height: 20px;
    width: 90px;
    padding-top: 3px;

}

#language #lang {
    border: none;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.027);
    color: rgb(241, 237, 237);
}

.option ul #signIn {
    background-color: red;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.option ul #signIn a {
    text-decoration: none;
    color: rgb(253, 247, 247);
}

.unlimitedMovie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unlimitedMovie .unlimited h1 {
    font-size: 2.5em;
    white-space: pre-line;
    text-align: center;

}

.unlimitedMovie #anywhere {
    font-size: 1em;
    margin-top: 5px;
    text-align: center;
}

.watch {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    width: 30%;

}

.watch p {
    font-size: 0.754em;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.watch .startContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* width: 100%; */
    border-radius: 2px;
    margin-top: 10px;

}

.startContainer #email {
    height: 35px;
    width: 70%;
    padding-left: 10px;
    border: none;
    border-radius: 2px;
}

.startContainer .button {
    width: 30%;
    height: 35px;
    background-color: rgb(248, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;


}

.watch #start {
    font-size: 1em;
    border: none;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(248, 17, 17);
}

.watch .startContainer img {
    height: 10px;
    width: 5%;
}


hr {
    height: 2px;
    width: 100%;
    border: none;
    background-color: gray;
}

main .insight {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    width: 80%;
    padding-left: 200px;
}

main .insight .writeUp {
    flex: 50%;
    white-space:pre-line;
}

main .insight .writeUp h2{
    white-space: pre-line;
    font-size: 2em;
}

main .insight .moviePreview {
    flex: 50%;
}

.moviePreview img {
    height: 300px;
}

main .FAQ {
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.FAQ h2 {
    margin-bottom: 25px;
    text-transform: capitalize;
}

.FAQ #question {
    background-color: rgb(90, 89, 89);
    color: rgb(175, 172, 172);
    height: 30px;
    width: 30%;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
}

.FAQ #question img {
    height: 20px;
    color: yellow
}



footer {
    max-width: 100%;
    height: 350px;
    color: rgb(138, 136, 136);
    padding-top: 15px;
    padding-left: 280px;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 0.8em;
}

.list {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.list ul {
    list-style: none;
    line-height: 30px;
}

.dropDown {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 3px;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    color: rgb(255, 255, 255);
    
}

.dropDown img {
    padding-right: 5px;
    height: 18px;
}

.dropDown #lang {
    background-color: rgba(0, 0, 0, 0.027);
    border: none;
    color: rgb(182, 182, 182);
}

footer .india {
    font-size: 1em;
    margin-top: 30px;
}